{% extends 'context/base.html' %}

{% block title %}
 HOME 
{% endblock %}

{% block head %}
<!-- LEAFLET -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

<style>
    #peta{
        height:200px;
    }
</style>
{% endblock %}

{% block body %}
 <h1>Testing Inheritance HTML</h1>
 <a href="/facility/add/" class="btn btn-primary">Add Fasilitas</a>
 <div id="peta">TAMPILAN PETA</div>:

 <script>
    const peta = L.map('peta').setView([11.592572132422163, 165.36764370646426], 11);
    
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(peta);

    // Mmebaca API JSON untuk ditampilkan di Leaflet
    fetch('/api/custom-map/')
        .then(response => response.json())
        .then(function(json){
            L.geoJSON(json, {
                onEachFeature: function(feature, layer){
                    layer.bindPopup(feature.properties.nama)
                    layer.bindPopup(
                        `
                        <h5>${feature.properties.nama}</h5>
                        <ul>
                            <li>${feature.properties.tipe}</li>
                            <li>${feature.properties.harga}</li>  
                        </ul>
                        `
                    )
                }
            }).addTo(peta)
        })
 </script>
{% endblock %}